




<%= image_tag "https://s3-us-west-2.amazonaws.com/food-plus-family-development/assets/lavender_image+%2B+Rectangle+439%403x.png", class: "recipe_image" %>

<h3>Dedicated to our mother, who taught us all we know</h3>





